<div class="container">
    <h1>Let's Make Some Magic</h1>
    <form class="textarea" action="/" method="post">
        <textarea   name="textarea" id="textarea" type="text"   autofocus ></textarea>
        <button type="submit"> Begin</button>
    </form>

    <script>
        let ss=' "Devlet Hava Meydanları İşletmesi Genel Müdürlüğü", "Devlet Malzeme Ofisi Genel Müdürlüğü", " Kıyı Emniyeti Genel Müdürlüğü"," Makine ve Kimya Endüstrisi A.Ş.","Posta ve Telgraf Teşkilatı Genel Müdürlüğü","T.C. Devlet Demiryolları İşletmesi Genel Müdürlüğü","TCDD Taşımacılık A.Ş. Genel Müdürlüğü","Türkiye Raylı Sistem Araçları Sanayii A.Ş",'
        
        document.getElementById("textarea").value=ss;
    </script>
</div>
